extends layout.pug 

block content
  form(action="/new" method="POST" class="new-message")
    textarea(name="msg" placeholder="Enter Your Message" cols="30" rows="10" required)  
    input(name="author" type="text" minlength="3" required)
    button(type="submit") Send
  p: a(href='/') Read Messages 
  