doctype html
html(lang="en")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable' content='yes')
    meta(charset='utf-8')
    title Evergarden Letters | Mini-Message Board

  body
    h1 Evergarden Letters

    div(class="board")
      ul 
        each msg in messages
          li= msg.text + " by " + msg.user
